@font-face {
  font-family: Space Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("https://cdn.joel.net.au/fonts/space-mono-400.woff2") format("woff2");
}

@font-face {
  font-family: Space Mono;
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url("https://cdn.joel.net.au/fonts/space-mono-400-italic.woff2")
    format("woff2");
}

@font-face {
  font-family: Space Mono;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("https://cdn.joel.net.au/fonts/space-mono-700.woff2") format("woff2");
}

@font-face {
  font-family: Space Mono;
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url("https://cdn.joel.net.au/fonts/space-mono-700-italic.woff2")
    format("woff2");
}

@font-face {
  font-family: Space Grotesk Variable;
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url("https://cdn.joel.net.au/fonts/space-grotesk.woff2")
    format("woff2-variations");
}
